body {
    background-color: #8781B9;
}

/*IDs*/

#lilbit {
    width: 0px;
    height: 0px;
    padding-top: 8px;
}

#nagivation {
    background-color: #00000030;
}

#nagivation a {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 20px;
    text-decoration: none;
    background-color: #FFAA00;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#nagivation a:hover {
    background-color: #DF9000;
}

#likeTheWholeThing {
    width: 1440px;
    margin: 0px auto 0px auto;
}

#absolutePage {
    width: 1440px;
    height: auto;
    margin: 0px auto 0px auto;
    color: #FFFFFF;
}

#scrollingText {
    color: #FFAA00;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 16px;
    float: left;
}

#mainHeading {
    color: #FFAA00;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    background-color: #9691C2;
    border-radius: 8px;
}

#introText {
    color: #ffc756;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 400px;
    float: left;
    padding: 5px;
    background-color: #5f5a85;
    padding: 12px;
    border-radius: 4px;
}

#subHeading1 {
    color: #FFAA00;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 32px;
    float: left;
    padding-left: 50px;
}

#subHeading2 {
    color: #FFAA00;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    float: left;
    padding-left: 25px;
}

#whatHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#hobbyStuff {
    float: right;
    padding-right: 96px;
    background-color: #5f5a85;
    border-radius: 4px;
}

#hobbyList {
    color: #ffc756;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 400px;
    float: left;
    margin: 24px;
    padding-right: 4px;
}

#textBox {
    background-color: #9691C2;
    padding: 8px;
    border-radius: 8px;
    width: 1440px;
    height: 780px;
}

#socialMedia {
    width: 340px;
    height: 80px;
    float: left;
    background-color: #5f5a85;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 8px;
}

#hatsuneMiku {
    width: 200px;
    height: 200px;
    float: right;
    margin: 0px, auto, 0px, auto;
}

#linktree {
    padding-top: 128px;
}

#reallyFunnyImage {
    float: right;
    height: 256px;
    width: 256px;
    margin: 48px;
}

#funnyCodingJoke {
    float: left;
    margin: 24px;
}

/*Classes*/

.reset {
    clear: both;
}

.highlight {
    color: #55FFFF;
    font-style: italic;
}

.otherHighlight {
    color: #FF55FF;
    font-style: italic;
}

.socials {
    padding-left: 40px;
    padding-top: 10px;
}

.socials:hover {
    box-shadow: 0 0 0 1px #FFFFFF;
}

/*gizz-list stuff*/

#microtonesBaby {
    padding-top: 12px;
}

#welcomeText {
    color: #FFAA00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: #9691C2;
    border-radius: 8px;
}

#subText {
    color: #FFAA00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 16px;
}

#theGizzList {
    color: #FFAA00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 24px;
    padding-right: 436px;
    float: left;
    background-color: #5f5a85;
    border-radius: 4px;
}

#iAmFunny {
    color: #55FFFF;
    font-family: Arial, Helvetica, sans-serif;
}

#prolificBand {
    color: #FFAA00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 12px;
}

#theGreatestBand {
    color: #AA0000;
}

#fiend {
    color: #55FFFF;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 343px;
}

#spotifyLink {
    padding-top: 10px;
    float: right;
}

#stuMackenzie {
    padding-left: 40px;
    float: left;
}

#theBigText {
    background-color: #9691C2;
    padding: 8px;
    border-radius: 8px;
}

/*absolute confusion thing*/

#absoluteScroll {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
}

#absoluteTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: #000;
    font-size: 32px;
    text-align: center;
    margin: 16px;
}

#albumArt {
    padding-left: 320px;
}

#bandcampEmbed {
    padding-left: 400px;
    margin: 16px;
}

#funnyGifLeft {
    float: left;
    width: 250px;
    height: 250px;
}

#funnyGifRight {
    float: right;
    width: 250px;
    height: 250px;
}